doctype html
html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    | &#x9;&#x9;
    link(rel='stylesheet', href='/Users/Macbook/Documents/GitHub/RTD-Passdown/style/table.css')
  | &#x9;
  body
    h1.row.justify-content-center(style='color:#800000;') ARCHIVE OF BUSES
    | &#x9;&#x9;
    .row.justify-content-start.ml-4
      h2 Results:
    .row.justify-content-center
      table.table-bordered(style='width:95%;')
        thead
          tr(style='background-color:#800000; color:white;')
            th BUS #
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th TYPE
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DATE IDENTIFIED
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DATE FIXED
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th NO PART
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th REASON DOWN
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DESCRIPTION
            | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;
        -for bus in addBus
          tr#passdownTable
            input(type='hidden', name='id', value='bus._id' ) 
            td.p-1 #{bus.busNumber}
            td.p-1 #{bus.type}
            td.p-1 #{moment(bus.date).format('MM/DD/YY')}
            td.p-1 #{moment(bus.dateFixed).format('MM/DD/YY')}
            td.p-1 #{bus.noPart}
            td.p-1 #{bus.reason}
            td.p-1 #{bus.description}
    .row.justify-content-center.pt-5
      a(href='/')
        button.btn.btn-dark.btn-sm.mb-4(type='button') CONTROLLER