- var smaCount = 40
- var brtCount = 30
- var expCount = 0
- var nonCount = 0
- var sma = "SMA"
- var brt = "BRT"
- var exp = "EXPRESS"
- var non = "NON-REV"
- for bus in addBus
    if bus.type == sma
      - smaCount--
    if bus.type == brt
      - brtCount--
    if bus.type == exp
      - expCount++
    if bus.type == non
      - nonCount++
- var date = new Date().getTime()

doctype html
html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    | &#x9;&#x9;
    link(rel='stylesheet', href='/Users/Macbook/Documents/GitHub/RTD-Passdown/style/table.css')
  | &#x9;
  body
    h1.row.justify-content-center(style='color:#800000;') RTD PASSDOWN
    | &#x9;&#x9;
    .row.justify-content-center
      table
        tr
          td
            h4 TOTAL BUSES ON HOLD: #{addBus.length}
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:16px;')
            h4 SMA RUNNING: #{smaCount}
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:16px;')
            h4 BRT RUNNING: #{brtCount}
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:16px;')
            h4 EXPRESS ON HOLD: #{expCount}
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:16px;')
            h4 NON-REV ON HOLD: #{nonCount}
      | &#x9;&#x9;
      table.table.table-dark(style='width:95%;')
        thead
          tr(style='background-color:#800000; color:white;')
            th BUS #
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th TYPE
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DATE IDENTIFIED
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th NO PART
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th REASON DOWN
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DESCRIPTION
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DAYS OUT
            | &#x9;&#x9;&#x9;&#x9;
            th UPDATE
            | &#x9;&#x9;&#x9;&#x9;
        -for bus in addBus
          tr.m-1#passdownTable
            input(type='hidden', name='id', value='bus._id' ) 
            td(name='arcNum') #{bus.busNumber}
            td(name='arcType') #{bus.type}
            td(name='arcDate') #{moment(bus.date).format('MMM Do YYYY')}
            td(name='arcPart') #{bus.noPart}
            td(name='arcReason') #{bus.reason}
            td(name='arcDesc') #{bus.description}
            - busSecs = Math.round((date - bus.date.getTime())/86400000)
            td(name='arcServ')  #{busSecs} 
            td
              a(href='/toEditPage/#{bus._id}', action='/editPage')
                button.btn.btn-light.btn-sm(type='button') Update
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        thead
    | &#x9;&#x9;
    form(method='POST', action='/submit')
      .row.justify-content-center
        .col-md-1
          input.form-control(type='text', name='inputBus', placeholder='Bus #')
        |     &#x9;&#x9;&#x9;
        .form-group.col-md-2
          select.form-control(type='text', name='inputType')
            option(selected='') Choose Bus Type...
            |         &#x9;&#x9;&#x9;&#x9;
            option SMA
            |         &#x9;&#x9;&#x9;&#x9;
            option BRT
            |         &#x9;&#x9;&#x9;&#x9;
            option NON-REV
            |         &#x9;&#x9;&#x9;&#x9;
            option EXPRESS
        |     &#x9;&#x9;&#x9;
        .col-md-2
          input.form-control(type='date', name='inputDate', placeholder='MM/DD/YY')
        |    &#x9;&#x9;&#x9;
        |     &#x9;&#x9;&#x9;
        .form-group.col-md-2
          select.form-control(type='text', name='inputNoPart')
            option(selected='') No Part...
            |         &#x9;&#x9;&#x9;&#x9;
            option True
            |         &#x9;&#x9;&#x9;&#x9;
            option False
        |     &#x9;&#x9;&#x9;
        .col-md-1
          input.form-control(type='text', name='inputReason', placeholder='Reason')
        |     &#x9;&#x9;&#x9;
        .col-md-1
          input.form-control(type='text', name='inputDesc', placeholder='Desc')
        |    &#x9;&#x9;&#x9;&#x9;
        .col-md-1
          button.btn.btn-dark(type='submit') Add
        | &#x9;&#x9;
        form
          script(type='text/javascript', src='/Users/Macbook/Documents/GitHub/RTD-Passdown/index.js')