doctype html
html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    | &#x9;&#x9;
    link(rel='stylesheet', href='/Users/Macbook/Documents/GitHub/RTD-Passdown/style/table.css')
  | &#x9;
  body
    h1.row.justify-content-center(style='color:#800000;') EDIT INFORMATION
    | &#x9;&#x9;
  form(method='PUT', action='/null')
      .row.justify-content-center
        .col-md-1
          input.form-control(type='text', name='upBus', placeholder='#{addBus.busNumber}')
        |     &#x9;&#x9;&#x9;
        .form-group.col-md-2
          select.form-control(type='text', name='uptType')
            option(selected='#{addBus.type}') 
            |         &#x9;&#x9;&#x9;&#x9;
            option SMA
            |         &#x9;&#x9;&#x9;&#x9;
            option BRT
            |         &#x9;&#x9;&#x9;&#x9;
            option NON-REV
            |         &#x9;&#x9;&#x9;&#x9;
            option EXPRESS
        |     &#x9;&#x9;&#x9;
        .col-md-2
          input.form-control(type='text', name='upDate', placeholder='#{addBus.date}')
        |    &#x9;&#x9;&#x9;
        |     &#x9;&#x9;&#x9;
        .form-group.col-md-2
          select.form-control(type='text', name='upNoPart')
            option(selected='#{addBus.noPart}') 
            |         &#x9;&#x9;&#x9;&#x9;
            option True
            |         &#x9;&#x9;&#x9;&#x9;
            option False
        |     &#x9;&#x9;&#x9;
        .col-md-1
          input.form-control(type='text', name='upReason', placeholder='#{addBus.reason}')
        |     &#x9;&#x9;&#x9;
        .col-md-1
          input.form-control(type='text', name='upDesc', placeholder='#{addBus.description}')
        |    &#x9;&#x9;&#x9;&#x9;
  form(method='PUT', action='/update')
    .row.justify-content-center
        .col-md-1
          button.btn.btn-dark(type='submit') Update
          | &#x9;&#x9;
        form
          script(type='text/javascript', src='/Users/Macbook/Documents/GitHub/RTD-Passdown/index.js')
          
          
          
          
          
          
          
          